.titulo-resumo {
  font-weight: bold;
}

.col-6 {
  padding-top: 20px;
}

.col-6 a {
  font-weight: bold;
}

.generos {
  display: inline;
  list-style: none;
  padding: 0px;
}

.generos li {
  display: inline;
}

.generos li::after {
  content: ",";
}

.generos li:last-child::after {
  content: "";
}

