<div class="container">
  <h1>{{filme ? filme.title : ''}}</h1>
  <small>{{filme ? (filme.tagline ? filme.tagline : ''): ''}}</small><br>
  <br>
  <div>
    Popularidade: {{filme ? filme.popularity : ''}}<br>
    Nota: <a
          [ngStyle]="{'color' : filme.vote_average >= 8 ?
                      'green' : filme.vote_average >= 5 ?
                      'gold' : 'red'}">{{filme ? filme.vote_average : ''}}</a><br>
    Avaliado {{filme ? filme.vote_count : ''}} Vezes<br>
    <br>
    <div id="titulo-resumo">Resumo:</div>
    {{filme ? filme.overview : 'Resumo não disponível'}}<br>
  </div>
  <img [src]="'https://image.tmdb.org/t/p/w500' + (filme ? filme.poster_path : '')" [alt]="(filme ? filme.title : '')">
</div>