<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">DesafioFilmes</a>

    <div class="btn-group" dropdown>
      <button 
        id="button-basic"
        dropdownToggle type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        Explorar <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" routerLink="/explorar/filmes">Filmes</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/explorar/series">Series</a></li>
      </ul>
    </div>


    <form
      class="form-inline"
      [formGroup]="pesquisaForm"
      (ngSubmit)="pesquisar(pesquisaForm.value)">
      <input 
      class="form-control"
      type="text"
      placeholder="Pesquisar..."
      formControlName="pesquisa">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ir</button>
    </form>
  </div>
</nav>

